<a href="https://colab.research.google.com/github/sonzwon/TIL/blob/master/python_programming_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

In [2]:
# 재귀함수
def func(count):
  if count>0:
    print(count, '현재')
    func(count-1)
  print('결과',count)
func(5)

5 현재
4 현재
3 현재
2 현재
1 현재
결과 0
결과 1
결과 2
결과 3
결과 4
결과 5

In [3]:
def no_idea():
  print('나는 아무 생각이 없어요')
no_idea()

나는 아무 생각이 없어요

In [1]:
x = [23, 45, 76]
for i, s in enumerate(x):
  print(i, ':', s)

0 : 23
1 : 45
2 : 76

In [3]:
result = map(lambda x:x+1, (1,2,3,4))
print(list(result))

[2, 3, 4, 5]

In [4]:
def fat1(num):
  if num > 0:
    return fat1(num-1) * num
  else:
    return 1
fat1(5)  #1*2*3*4*5

120

In [5]:
def fat2(num):
  result = 1
  for i in range(1,num+1):
    result *= i
  return result
print(fat2(5))

120

In [2]:
li = [1,2,3,4,5,6,7]
list(filter(lambda x:x%2!=0, li))

[1, 3, 5, 7]

In [3]:
import os
os.environ

environ({'CUDNN_VERSION': '8.0.5.39', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64', 'CLOUDSDK_PYTHON': 'python3', 'LANG': 'en_US.UTF-8', 'HOSTNAME': '1118e6142700', 'OLDPWD': '/', 'CLOUDSDK_CONFIG': '/content/.config', 'NVIDIA_VISIBLE_DEVICES': 'all', 'DATALAB_SETTINGS_OVERRIDES': '{"kernelManagerProxyPort":6000,"kernelManagerProxyHost":"172.28.0.3","jupyterArgs":["--ip=172.28.0.2"],"debugAdapterMultiplexerPath":"/usr/local/bin/dap_multiplexer","enableLsp":true}', 'ENV': '/root/.bashrc', 'NCCL_VERSION': '2.7.8', 'TF_FORCE_GPU_ALLOW_GROWTH': 'true', 'NO_GCE_CHECK': 'False', 'PWD': '/', 'HOME': '/root', 'LAST_FORCED_REBUILD': '20220614', 'DEBIAN_FRONTEND': 'noninteractive', 'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs', 'GCE_METADATA_TIMEOUT': '3', 'GLIBCPP_FORCE_NEW': '1', 'TBE_CREDS_ADDR': '172.28.0.1:8008', 'SHELL': '/bin/bash', 'GCS_READ_CACHE_BLOCK_SIZE_MB': '16', 'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command', 'CUDA_VERSION': '11.1.1', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'SHLVL': '0', 'PYTHONPATH': '/env/python', 'NVIDIA_REQUIRE_CUDA': 'cuda>=11.1 brand=tesla,driver>=418,driver<419 brand=tesla,driver>=440,driver<441 brand=tesla,driver>=450,driver<451', 'TBE_EPHEM_CREDS_ADDR': '172.28.0.1:8009', 'COLAB_GPU': '0', 'GLIBCXX_FORCE_NEW': '1', 'PATH': '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin', 'LD_PRELOAD': '/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4', 'JPY_PARENT_PID': '42', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'ENABLE_DIRECTORYPREFETCHER': '1', 'USE_AUTH_EPHEM': '1', 'PYDEVD_USE_FRAME_EVAL': 'NO'})

In [4]:
li = [0,1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda x:x>5, li)))
print(list(filter(lambda x:x%2==0, li)))

[6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [5]:
def print_something(v):
  print(v)
f = print_something
f(123)   #변수에 함수명을 저장해서 사용가능

123

In [6]:
def plus(x,y):
  print(x+y)
def minus(x,y):
  print(x-y)
f = [plus, minus]  #list에 함수명을 담아서 사용가능
f[0](2,3)
f[1](5,1)

5
4

In [8]:
#함수이름을 매개변수처럼 사용
def hello():
  print('hello')
def annyoung():
  print('안녕')
def greet(f):
  f()
greet(hello)
greet(annyoung)

hello
안녕

In [10]:
def hello():
  print('hello')
def annyoung():
  print('안녕')
def greet(f):
  if f=='k':
    result = annyoung()
  else:
    result = hello()
  return result

greet('k')
greet('e')

안녕
hello

In [12]:
def insertion_sort(some_list):
  for i in range(len(some_list)):
    key = some_list[i]
    j = i-1
    while j >= 0 and some_list[j] > key:
      some_list[j+1] = some_list[j]
      j -= 1 
    some_list[j+1] = key
some_list = [11,3,6,4,12,1,2]
insertion_sort(some_list)
print(some_list)


#내가 만들어본 리스트정렬 함수
#리스트에서 최소값 뽑아서 새로운 리스트에 넣어줌
def make_def(some_list):
  new_list = []
  while True:
      m = min(some_list)
      new_list.append(m)
      some_list.remove(m)
      if some_list == []:
          break
  return new_list
make_def(some_list)

[1, 2, 3, 4, 6, 11, 12]

In [6]:
def f1():
  return 1
print(f1())

f = lambda : 1
print(f())

1
1

In [8]:
def f2(x,y):
  return x+y

f3 = lambda x,y : x+y

print(f2(3,6))
print(f3(3,6))

9
9

In [10]:
def f1(x):
  return x*x
list1 = [1,2,3,4,5]
list2 = []
for i in list1:
  list2.append(f1(i))
print(list2)

result = list(map(f1, list1))
print(result)

result1 = list(map(lambda x:x*x, list1))
print(result1)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [12]:
a1 = [1,2,3,4,5,6,7,8,9]
result = list(map(lambda x:x*x*x, a1))
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [13]:
score = [12,67,99]
name = 'hellopython'
print(min(score))
print(max(score))
print(min(name))
print(max(name))

12
99
e
y

In [18]:
import os
print(os.environ)
print(os.environ['PATH'])

print(os.chdir('/'))
print(os.getcwd)

environ({'CUDNN_VERSION': '8.0.5.39', 'LD_LIBRARY_PATH': '/usr/local/nvidia/lib:/usr/local/nvidia/lib64', 'CLOUDSDK_PYTHON': 'python3', 'LANG': 'en_US.UTF-8', 'HOSTNAME': '07a16610dd5c', 'OLDPWD': '/', 'CLOUDSDK_CONFIG': '/content/.config', 'NVIDIA_VISIBLE_DEVICES': 'all', 'DATALAB_SETTINGS_OVERRIDES': '{"kernelManagerProxyPort":6000,"kernelManagerProxyHost":"172.28.0.3","jupyterArgs":["--ip=172.28.0.2"],"debugAdapterMultiplexerPath":"/usr/local/bin/dap_multiplexer","enableLsp":true}', 'ENV': '/root/.bashrc', 'NCCL_VERSION': '2.7.8', 'TF_FORCE_GPU_ALLOW_GROWTH': 'true', 'NO_GCE_CHECK': 'False', 'PWD': '/', 'HOME': '/root', 'LAST_FORCED_REBUILD': '20220628', 'DEBIAN_FRONTEND': 'noninteractive', 'LIBRARY_PATH': '/usr/local/cuda/lib64/stubs', 'GCE_METADATA_TIMEOUT': '3', 'GLIBCPP_FORCE_NEW': '1', 'TBE_CREDS_ADDR': '172.28.0.1:8008', 'SHELL': '/bin/bash', 'GCS_READ_CACHE_BLOCK_SIZE_MB': '16', 'PYTHONWARNINGS': 'ignore:::pip._internal.cli.base_command', 'CUDA_VERSION': '11.1.1', 'NVIDIA_DRIVER_CAPABILITIES': 'compute,utility', 'SHLVL': '0', 'PYTHONPATH': '/env/python', 'NVIDIA_REQUIRE_CUDA': 'cuda>=11.1 brand=tesla,driver>=418,driver<419 brand=tesla,driver>=440,driver<441 brand=tesla,driver>=450,driver<451', 'TBE_EPHEM_CREDS_ADDR': '172.28.0.1:8009', 'COLAB_GPU': '0', 'GLIBCXX_FORCE_NEW': '1', 'PATH': '/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin', 'LD_PRELOAD': '/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4', 'JPY_PARENT_PID': '45', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'ENABLE_DIRECTORYPREFETCHER': '1', 'USE_AUTH_EPHEM': '1', 'PYDEVD_USE_FRAME_EVAL': 'NO'})
/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin
None
<built-in function getcwd>

In [21]:
import random
print(random.random())   #random모듈의 random함수(0~1 실수)
print(random.randint(1,10))   #randint함수(1~10 정수)

data = [1,2,3,4,5,6]
random.shuffle(data)
print(data)

0.6550420105622413
10
[6, 3, 4, 2, 5, 1]

In [22]:
def rec_sum(x,y):
  if y>0:
    x += y
    rec_sum(x, y-1)
  else:
    print('합계 :',x)
rec_sum(5,10) #5+10+9+8+7+6+5+4+3+2+1

합계 : 60

In [25]:
def rec_f(num):
  if num>0:
    print(num)
    rec_f(num-1)
  else:
    print('끝!')
rec_f(5)

5
4
3
2
1
끝!

In [31]:
li = [78,34,67,99]
print(sorted(li))   #li를 정렬해서 보여줘
print(sorted(li, reverse=True))
print(li)

li.sort()           #원본 li를 정렬해라
print(li)

[34, 67, 78, 99]
[99, 78, 67, 34]
[78, 34, 67, 99]
[34, 67, 78, 99]

In [32]:
import sys
print(sys.path)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']

In [36]:
import time
print(time.time())  #time모듈의 time함수
print(time.localtime(time.time()))
print(time.strftime('%B/%d/%Y(%A), %H:%M:%S', time.localtime(time.time())))

1656677528.1435354
time.struct_time(tm_year=2022, tm_mon=7, tm_mday=1, tm_hour=12, tm_min=12, tm_sec=8, tm_wday=4, tm_yday=182, tm_isdst=0)
July/01/2022(Friday), 12:12:08

In [37]:
import time
print('지원 좋아')
time.sleep(2)
print('나도 좋아')

지원 좋아
나도 좋아

In [40]:
a1 = [90,85,98,50,90,100,85,75,85,80]
a2 = [95,90,90,90,95,100,90,80,95,90]

a = list(zip(a1,a2))  #두 리스트를 튜플형식으로 묶어줌
print(a)

for i,j in a:
  print(i+j)

[(90, 95), (85, 90), (98, 90), (50, 90), (90, 95), (100, 100), (85, 90), (75, 80), (85, 95), (80, 90)]
185
175
188
140
185
200
175
155
180
170

#클래스

In [5]:
class human:
  def __init__(self,height,age):
    self.height = height
    self.age = age
  def how_old(self):
    print(self.age,'살 입니다')
  def how_tall(self):
    print(self.height, 'cm 입니다')
  def __del__(self):
    print('삭제되었습니다')

In [6]:
jiwon = human(166,26)

In [9]:
jiwon.how_old()
jiwon.how_tall()

26 살 입니다
166 cm 입니다

In [10]:
del jiwon

In [13]:
def plus(a,b):
  return a+b
print(plus(3,6))
print(type(plus))

9
<class 'function'>

In [14]:
class student:
  count = 0
  @classmethod
  def cmethod(cls):
    print('클래스메소드')
    print(cls.count)

  @staticmethod
  def smethod():
    print('정적메소드')

In [15]:
#객체를 생성하지 않아도 됨
student.cmethod()
student.smethod()

클래스메소드
0
정적메소드

In [64]:
class human:
  def __init__(self):
    self.__age = 31   
  @property    
  def age_getter(self):
    return self.__age
  @age_getter.setter    
  def age_getter(self, value):
    self.__age = value

In [65]:
jiwon = human()

In [66]:
jiwon.age_getter

31

In [67]:
jiwon.age_getter = 26
jiwon.age_getter

26

In [69]:
mypi = 3.14
def area(r):
  return mypi*r*r
if __name__ =='__main__':  #자체적으로 실행
  print(round(area(12),2))
  print(area(10))

452.16
314.0

In [70]:
def plus(x,y):
  return x+y
def minus(x,y):
  return x-y
def multiply(x,y):
  return x*y
def divide(x,y):
  return x/y
if __name__ == '__main__':
  print(plus(12,3))
  print(minus(12,3))
  print(multiply(12,3))
  print(divide(12,3))

15
9
36
4.0

In [71]:
class Car:
  def __init__(self):
    self.color = 'red'
    self.wheel_size = 18
    self.displacement = 2000
  def forward(self):
    print('전진')
  def backward(self):
    print('후진')
  def turn_left(self):
    print('좌회전')
  def turn_right(self):
    print('우회전')

if __name__ =='__main__':
  mycar = Car()
  print(mycar.color)
  mycar.turn_left()

red
좌회전

In [72]:
class Cat:
  def __init__(self, name):
    self.name = name
  def speak(self):
    print('냐옹')
  def eat(self, food):
    print('{}가 {}를 먹는다'.format(self.name, food))
cat1 = Cat("메리")
cat2 = Cat("레오")
cat1.speak()
cat1.eat('츄르')
cat2.speak()
cat2.eat('참치캔')

냐옹
메리가 츄르를 먹는다
냐옹
레오가 참치캔를 먹는다

In [78]:
class Cat:
  name = '뽀로로'
  def __init__(self,song):  #객체생성후 사용가능
    self.song = song
  
  @classmethod
  def drink(cls):
    print('{}가 물을 마신다'.format(cls.name))
  
  @staticmethod
  def play():
    print('수다를 떨고 있다')
  def sing(self):           #객체생성후 사용가능
    print('{}가 노래를 부르고 있다'.format(Cat.name))
    print('장르 : {}'.format(self.song))  

Cat.drink()
Cat.play()
c1 = Cat('트로트')
c1.sing()
c1.drink()
c1.play()

뽀로로가 물을 마신다
수다를 떨고 있다
뽀로로가 노래를 부르고 있다
장르 : 트로트
뽀로로가 물을 마신다
수다를 떨고 있다

In [79]:
class Counter:
  count = 0
  def __init__(self):
    Counter.count += 1  #객체생성하면 count +1
  @classmethod
  def print_cm(cls):
    print(cls.count)

if __name__=='__main__':
  Counter.print_cm()
  b = Counter()
  Counter.print_cm()
  c = Counter()
  c.print_cm()

0
1
2

In [85]:
class Student:
  schoolName = "한국" 
  def __init__(self, addr):
    self.addr = addr
st1 = Student("신촌")

print("학교명 : {}".format(st1.schoolName))
print("학교명 : {}".format(Student.schoolName))
print("주소 : {}".format(st1.addr))

학교명 : 한국
학교명 : 한국
주소 : 신촌

In [87]:
class User:
  def introduce(someone):
      print(someone.name, someone.age)

u1 = User()
u1.name = "지원";  u1.age = 26

User.introduce(u1)
u1.introduce()

지원 26
지원 26

In [90]:
class Person:
  def __init__(self): # 전역변수/멤버변수
    self.name = "유미"
    self.age = 25      
    self.character = "괴팍"
  def act_hobby(self):
    print("침을 뱉는다")
    print("졸고 있다")

p1 = Person();     
print(p1.name)
print(p1.character) 
p1.act_hobby()
print(type(p1))

유미
괴팍
침을 뱉는다
졸고 있다
<class '__main__.Person'>

In [93]:
class User:
  pass

u1 = User()
u1.name = "지원"
u1.age = 26
u1.hobby = "파이썬 공부"
print(u1.name,u1.age, u1.hobby)

u2 = User()     # 추가된 멤버변수는 다른 객체에서 사용할 수 없음
u2.name = "지영"
u2.age = 22
u2.hobby = "넷플릭스보기"
print(u2.name,u2.age, u2.hobby)

지원 26 파이썬 공부
지영 22 넷플릭스보기

In [94]:
class Student:
  def __init__(self, name = "이름"):
    self.__name = name
  def set_name(self, name):
    print('setter name 호출')
    self.__name = name
  def get_name(self):
    print('getter name 호출')
    return self.__name
  def set_age(self, age):
    if age < 0 :
      print("나이는 양수")
      self.__age = 0
    else:
      print('setter age 호출')
      self.__age = age  # __의 의미는 private 안에서만 사용
  def get_age(self):
    print('getter age 호출')
    return self.__age
  age_get_set = property(get_age, set_age) # 순서는 get, set
  name_get_set = property(fset=set_name, fget=get_name)
st1 = Student('cindy')
print(st1.name_get_set)
st1.name_get_set = 'eden'
print(st1.name_get_set)
st1.age_get_set = -5
print(st1.age_get_set)

getter name 호출
cindy
setter name 호출
getter name 호출
eden
나이는 양수
getter age 호출
0